
@media(max-width: 1200px){
    .nav__bar .nav__logo{
    left: 0 !important;
    }
}

@media(max-width: 1024px){
    .nav__bar{
    padding: 20px 65px;
    }   
    .nav__menu a{
        font-size: 16px;
    }
    
    /* Swiper01  */
    .comparison__img{
        width: 80%;
    }

    .faq__grid{
        padding: 20px;
    }

}


@media(max-width: 992px){
    .nav__logo img{
        width: 70%;
    }
    .nav__bar{
    padding: 15px 65px;
    }  
    .nav__menu{
    gap: 20px;
    }
}

@media(max-width: 886px){
    .nav__logo img{
        width: 50%;
    }
    .nav__bar{
    padding: 15px 65px;
    }  
    .nav__menu a{
    font-size: 14px;
    }
    /* section_06 */
    .consult-form {
        width: 60%;
    }
    .consult-form__submit-group{
        gap: 20px;
    }


}



/* 태블릿 */
@media(max-width: 768px){    
    .nav__menu{
        gap: 15px;
    }

    /* section_kv */
    .Kv__title h1{
        font-size: 30px;
        padding: 30px 0 0 0;
    }
    .Kv__title p{
        font-size: 20px;
    }
    .kv__img{
        width: 70%;
        margin-left: 12%;
    }
    .kv__img::before{
        height: 70px;
        top: 367px;
        right: 2px;
    }
    /* section_02 */
    .benefit__image{
        display: none;
    }
    .benefit__text{
        width: 100%;

    }
    .benefit__item{
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
    }
    /* section_04 */
    .faq__grid{
        display: flex;
        flex-direction: column;
    }
    .faq__number p{
        margin: 10px;    
    }
    .faq__item{
        padding: 30px 40px;
    }
    .faq__question{
        margin: 0;
    }
        /* section_06 */
    .consult-form {
        width: 80%;
        padding: 0 16px;
        box-sizing: border-box;
    }
    .consult-form__submit-group{
        gap: 20px;
    }
}
  



/* 모바일 */
@media(max-width: 540px){
    .nav__bar{
        padding: 13px 25px;
    }

    .nav__menu{
        
        display: none;
    }
    .menu_btn{
        display: block;
        font-size: 20px;
        color: white;
        cursor: pointer;
    
    }
    /* section_02 */
    .benefit{
        padding: 40px;
    }
    .benefit__main-title h1{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .benefit__icon{
        width: 20%;
    }
    .benefit__items{
        padding-bottom: 0;
    }
    .benefit__item{
        display: flex;
        flex-direction: column;
    }
    .benefit__title{
        font-size: 18px;
    }
    .benefit__description{
        font-size: 12px;
    }
    /* section_03 */
    .comparison{
        padding: 40px;
    }
    .comparison__main-title h1{
        font-size: 30px;
    }
    .comparison__price{
        font-size: 20px;
    }
    .comparison__title{
        font-size: 20px;
    }
    /* section_04 */
    .faq{
        padding: 40px;
    }
    .faq__main-title{
        margin-bottom: 0;
    }
    .faq__main-title h1{
         font-size: 30px;
    }
    .faq__number p{
        margin: 20px;    
    }
    .faq__question{
        font-size: 18px;
    }
    .faq__answer{
        font-size: 12px;
    }
    /* section_05 */
    .review{
        padding: 20px;
    }
   .review > .container {
        flex-direction: column; 
        align-items: center; 
        text-align: center;     
  }
    .review__item-img{
        width: 70%;
    }
    .review__main-title{
        margin-bottom: 20px;
    }
    .review__title{
        font-size: 30px;
    }
    .review__item-name{
        font-size: 18px;
    }
    .review__item-comment{
        font-size: 12px;
    }
    .review__item-stars {
        gap: 5px;
    }
      .review__item-img {
        margin: 0 auto;         
        display: block;
        width: 70%;             
    }
    .review__item-img img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }
     .review__item-img {
        margin: 0 auto;          
        display: block;
        width: 70%;             
    }
    .review__item-img img {
        display: block;
        margin: 0 auto;        
        max-width: 100%;
        height: auto;
    }
    .review__item-bar::after{
      content: none;
    }
    .review__item-stars{
        display: flex;
        justify-content: center;
    }
        /* section_06 */
    .consult{
        padding: 40px;
    }
    .consult__main-title{
        margin: 0;
        padding-top: 0;
    }
    .consult__main-title h1{
        font-size: 30px;
    }
    .consult-form__field-input{
        padding: 10px 80px 10px 20px;
        box-sizing: border-box; 
    }
    .consult-form__submit-group{
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-top: 10px;
    }
    .consult-form__submit{
        margin: 30px;
    }
    input::placeholder {
    font-size: 12px;
    }
    input {
        padding: 10px;
        box-sizing: border-box;
    }

    /* footer */
    .footer {
        padding: 100px  0 10px;
        font-size: 12px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer .logo2 {
        margin: 0 auto 16px;
        padding-left: 0;
        width: 30%;
    }

    .footer__right, .social {
        display: none;
    }
    .logo3{
        display: none;
    }
}

@media (max-width: 430px) {
    /* section_kv */
    .kv__img::before{
        height: 45px;
        top: 321px;
        right: 2px;
    }

    .faq__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .faq__number p{
        margin: 0;
    }
    .faq__item {
        padding: 20px 30px;
    }
        /* section_06 */
    .consult-form__field-label{
        font-size: 10PX;
    }
    .consult-form__field-input{
        padding: 5px 5px
    }
    .consult-form__submit-group{
        font-size: 10px;
    }
    .consult-form__checkbox-text{
        font-size: 10px;
    }
}

@media (max-width: 360px) {
/* 폰트 크기 ↓, 패딩 ↓ */
  .fa-bars{
    font-size: 18px;
  }
    /* section_kv */
    .Kv__title h1{
        font-size: 20px;
        padding: 10px 0 0 0;
    }
    .benefit__icon{
        width: 15%;
    }
    .Kv__title p{
        font-size: 15px;
    }
    .kv__img::before{
        content: none;
        display: none;
    }
    /* section_02 */
    .benefit{
        padding: 10px;
    }
    .benefit__title{
        font-size: 15px;
    }
    .benefit__description{
        font-size: 11px;
    }
    /* section_03 */
    .comparison{
        padding: 10px;
    }
    .comparison__main-title h1{
        font-size: 20px;
    }
    .comparison__price{
        font-size: 18px;
    }
    .comparison__title{
        font-size: 18px;
    }
    .comparison__tag{
        font-size: 12px;
    }

}
